/.vscode
/Assignment4
/GuviClone
/GuviClone.zip
/guvi_HTML_CSS
/JavaScript
/node_modules
/package-lock.json
/package.json
/prakhar copy
/shopping
/shopping.zip
/shoppingCart
/tailwind
/temp
/temp1
/weatherAPI